<div class="row">
  <div class="col-md-6 col-lg-6">
    <div class="col-md-12 col-lg-10">
      <table class="table table-condensed">
        <thead >
          <tr>
            <th> Month </th>
            <th class="text-center"> Hours </th>
          </tr>
        </thead>
        <tbody>
          <% @hash_holidays["month"].compact.each_with_index do |item, i| %>
            <tr>
              <td class="editable-name"> <%= Date::MONTHNAMES[i + 1] %>  </td>
              <td class="text-center"> <%= item %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>