<%= content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'fullcalendar.min.js' %>
<% end %>
<div class="row content">
  <div class="container-fluidc">
    <div id="calendar_holiday">
    </div>
    <div id="list-month">
      <%= render 'list_month_hours' %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
  debugger;
  var
    data_for_events = JSON.parse('<%= raw @hash_holidays[:holidays].to_json %>');
  $('#calendar_holiday').fullCalendar({
    firstDay: 1,
    events: data_for_events,
    eventClick: function (calEvent, jsEvent, view) {
      var myEvent = {
        title:"Holiday",
        allDay: true,
        start: calEvent._start.format()
      };
      $( "#list-month" ).load( "holidays/update_list_events",
        {
          date: myEvent.start,
          title: myEvent.title,
          status: "destroy"
        }
      );
      $('#calendar_holiday').fullCalendar('removeEvents', calEvent._id);
    },
    dayClick: function(date, allDay, jsEvent, view) {
      var myEvent = {
        title:"Holiday",
        allDay: true,
        start: date.format()
      };
      $('#calendar_holiday').fullCalendar( 'renderEvent', myEvent );
      $( "#list-month" ).load( "holidays/update_list_events",
        {
          date: myEvent.start,
          title: myEvent.title,
          status: "add"
        }
      );
    },
  })
});
</script>
