<%= content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'fullcalendar.min.js' %>
  <%= javascript_include_tag 'holidays' %>
<% end %>
<div class="row content">
  <div class="container-fluidc">
    <div id="calendar_holiday">
    </div>
    <div id="list-month">
      <%= render 'list_month_hours' %>
    </div>
  </div>
</div>
