<div >
	<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;hl=ru&amp;bgcolor=%23FFFFFF&amp;src=crm.sloboda.studio%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FKiev" style="margin-left: 5%; margin-rigth: 5%" width="90%" height="500" frameborder="0" scrolling="no"></iframe>
</div>