<p><%= @user.first_name %> <%= @user.last_name %>,</p>
<p> вы не вносили изменнения в свое задание " <i> <%= @task_name %> </i> " в течении 2 дней. </p>
<p>Пожалуйста, обратите внимание на данную задачу.</p>
<p>С уважением, администрация CRM.</p>
