<p><%= @user.name %>, </p>
<p> Вы не заполнили отчет о работе за вчерашний день: <%= Date.today - 1 %> </p>
<p> Заполнить его вы можете <%= link_to "в таблице отчетов.", reports_url %> </p>

<p> Не обращать внимания - пока работает в тестовом режиме. </p>
