<p><%= @user.first_name %> <%= @user.last_name %>,</p>
<p> вы не вносили изменнения в течении 2 дней в следующие задачи: </p>
<ul> 
</ul>
<p>Пожалуйста, обратите внимание на данные задачи.</p>
<p>С уважением, администрация CRM.</p>
