<div class='row content'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='admin-sub-menu'>  
          <ul class='admin-sub-menu-items_list'>
            <li>
              <a href="#users" data-toggle="tab">
                <i class='glyphicon glyphicon-user'></i>
                <span>Users</span>
              </a >
            </li>
            <li>
              <a href="#plans" data-toggle="tab">
                <i class='glyphicon glyphicon-list-alt'></i>
                <span>Plans</span>
              </a>
            </li>
            <li>
              <a href="#controls" data-toggle="tab">
                <i class='glyphicon glyphicon-wrench'></i>
                <span>Controls</span>
              </a>
            </li>
          </ul>
      </div>
    </div>

    <div class='row admin-content'>
      <div class='col-lg-2 col-md-2 col-sm-2 content'>
        <div class='admin-room-content-left-column'>

          <div class="tab-content">
            <div class="tab-pane active" id="users">
              <div class="panel-group" id="accordionOne">  
                <div class="panel panel-default">
                  <div class="panel-heading main-panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne">
                        Active Users
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#active-users-all" data-toggle="tab">
                              All
                            </a>
                          </h4>
                        </div>
                      </div>
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#active-users-sellers" data-toggle="tab">
                              Sellers
                            </a>
                          </h4>
                        </div>
                      </div>
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#active-users-hh" data-toggle="tab">
                              HH
                            </a>
                          </h4>
                        </div>
                      </div>
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#active-users-hr" data-toggle="tab">
                              HR
                            </a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                
                <div class="panel-group">
                  <div class="panel panel-default">              
                    <div class="panel-heading main-panel-heading">
                      <h4 class="panel-title">
                        <a href="#banned-users-all" data-toggle="tab">
                          Banned Users
                        </a>
                      </h4>
                    </div>
                  </div>
                </div>             
              </div>
            </div>

            <div class="tab-pane" id="plans">
            </div>

            <div class="tab-pane" id="controls">
              <div class="panel-group" id="accordion">  
                <div class="panel panel-default">
                  <div class="panel-heading main-panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Sales Table
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#controls-sales-statuses" data-toggle="tab">
                              Statuses
                            </a>
                          </h4>
                        </div>
                      </div>
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#controls-sales-sources" data-toggle="tab">
                              Sources
                            </a>
                          </h4>
                        </div>
                      </div>                     
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading main-panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Candidates Table
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#controls-candidates-statuses" data-toggle="tab">
                              Statuses
                            </a>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#controls-candidates-sources" data-toggle="tab">
                              Sources
                            </a>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#controls-candidates-specializations" data-toggle="tab">
                              Specializations
                            </a>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="panel panel-default">              
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#controls-candidates-levels" data-toggle="tab">
                              Levels
                            </a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>             
              </div>
            </div>
          </div>
        </div> 
      </div>
      <div class='col-lg-10 col-md-10 col-sm-10 content'>
        <div class='admin-room-content-right-column'>

          <div class="tab-content">
            <div class="tab-pane active" id="active-users-all">
              <h1> active-users-all </h1>
            </div>
            <div class="tab-pane" id="active-users-sellers">
              <h1> active-users-sellers</h1>

            </div>
            <div class="tab-pane" id="active-users-hh">
              <h1> active-users-hh</h1>
            </div>
            <div class="tab-pane" id="active-users-hr">
              <h1> active-users-hr</h1>
            </div>
            <div class="tab-pane" id="banned-users-all">
              <h1> banned-users-all </h1>
            </div>
            <div class="tab-pane" id="controls-sales-statuses">
              <h1> controls-sales-statuses</h1>
            </div>
            <div class="tab-pane" id="controls-sales-sources">
              <h1> controls-sales-sources </h1>
            </div>
            <div class="tab-pane" id="controls-candidates-statuses">
              <h1> controls-candidates-statuses </h1>
            </div>
            <div class="tab-pane" id="controls-candidates-sources">
              <h1> controls-candidates-sources </h1>
            </div>
            <div class="tab-pane" id="controls-candidates-specializations">
              <h1> controls-candidates-specializations </h1>
            </div>
            <div class="tab-pane" id="controls-candidates-levels">
              <h1> controls-candidates-levels </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>