<div class="statistics">
	<span> Status: </span><br/>
	<span> all: </span>
	<input type="checkbox" id="allStatus" checked="checked" />
	<div class="datestatistic">
		<%= select_tag "Status", options_for_select(Task.status.options), disabled: true, class: "btn btn-default ", name: 'allStatus', id: "status" %>
	</div>
	<span> Assign: </span><br/>
	<span> all: </span>
	<input type="checkbox" id="allUser" checked="checked" />
	<div class="datestatistic">
		<%= select_tag "user_id", options_for_select(User.all.collect {|p| [ p.first_name + ' ' + p.last_name , p.id ] }), disabled: true, class: "btn btn-default ", id: "user" %>
	</div>
</div>

<div class="graphics">
</div>

<script type="text/javascript">
$(document).ready(function() {
	$.ajax({
	    type: "POST",
	    url: "statistics/change_information",
	    data: {'status': "", 'user': ""} ,
	    dataType: "json",
	    success: function(data) {
		  	$(function () { 
		    	$('.graphics').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Statistics of task'
		        },
		        xAxis: {
        			categories: data[0]
		        },
		        yAxis: {
		            title: {
		                text: 'Count tasks'
		            }
		        },
		        series: data[1]
			});
		});
		var flag_allStatus = true;
		  var flag_allUser = true;
		  $("#status, #user, #allUser, #allStatus").on( 'change', function(e){
		    var target = $(e.target);
		    var informData = {'status': $('#status').val(), 'user': $('#user').val()} ;
		    var current_id = target.attr('id');
		    if(current_id == "allStatus"){
		    	flag_allStatus = !flag_allStatus;
		    	$("#status").prop('disabled', flag_allStatus);
		    }
		    else if(current_id == "allUser"){
			    	flag_allUser = !flag_allUser;
			        $("#user").prop('disabled', flag_allUser);
			}
			if(flag_allStatus == true) informData['status'] = "";
		    if(flag_allUser == true) informData['user'] = "";

			$.ajax({
			      type: "POST",
			      url: "statistics/change_information",
			      data: informData,
			      dataType: "json",
			      success: function(data) {
				  	$(function () { 
				    	$('.graphics').highcharts({
				        chart: {
				            type: 'column'
				        },
				        title: {
				            text: 'Statistics of task'
				        },
				        xAxis: {
				        	categories: data[0]
				        },
				        yAxis: {
				            title: {
				                text: 'Count tasks'
				            }
				        },
				        series: data[1]
					});
				  });
			    }
			});
		  });
	    }
	});
});
</script>