<div class="statistics">
	<span> Status: </span><br/>
	<div class="datestatistic">
		<div class="side-by-side clearfix">
          <%= select_tag "Status", options_for_select(Status.all.collect {|p| [ p.name, p.id ]}),multiple: true, style:"width:100% !important;", class: "chosen-select-status", name: 'status[]', id: 'status', "data-placeholder" => 'Select Status ...' %>
        </div>
	</div>
	<span> Assign: </span><br/>
	<div class="datestatistic">
		<div class="side-by-side clearfix">
          <%= select_tag "User", options_for_select(User.all.collect {|p| [ p.first_name + ' ' + p.last_name , p.id ]}),multiple: true, style:"width:100% !important;", class: "chosen-select-user", name: 'users[]', id: 'user', "data-placeholder" => 'Select User ...' %>
        </div>
	</div>
	<span> Source: </span><br/>
	<div class="datestatistic">
		<div class="side-by-side clearfix">
          <%= select_tag "Source", options_for_select(Source.all.collect {|p| [p.name , p.id ]}),multiple: true, style:"width:100% !important;", class: "chosen-select-source", name: 'sources[]', id: 'source', "data-placeholder" => 'Select sources ...' %>
        </div>
	</div>
</div>

<div class="graphics">
</div>

<script type="text/javascript">
$(document).ready(function() {
	$(".chosen-select-user").chosen().change( function(e){
  			ajax_for_information($(".chosen-select-status").val(),$(".chosen-select-user").val(),$(".chosen-select-source").val());
	} );
	$(".chosen-select-status").chosen().change( function(e){
  			ajax_for_information($(".chosen-select-status").val(),$(".chosen-select-user").val(),$(".chosen-select-source").val());
	} );
	$(".chosen-select-source").chosen().change( function(e){
			ajax_for_information($(".chosen-select-status").val(),$(".chosen-select-user").val(), $(".chosen-select-source").val());
	} );
	ajax_for_information("","","");
});
function ajax_for_information(status, user, source){
	$.ajax({
	    type: "POST",
	    url: "statistics/change_information",
	    data: {status: status, user: user, source: source} ,
	    dataType: "json",
	    success: function(data) {
		  	$(function () { 
		    	$('.graphics').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Statistics of task'
		        },
		        xAxis: {
					categories: data[0]
				},
		        yAxis: {
		            title: {
		                text: 'Count tasks'
		            }
		        },
		        series: data[1]
				});
			});
		}
	});
};
</script>