<div id='editable-field'>
  <textarea id='editable-field-textarea' ></textarea>
</div>
<div id='activity-dialog'>
  <textarea id="activity-body"></textarea>
  <button id='activity-add' class="btn btn-primary btn-lg pull-right", type="button">Add</button>
</div>
<div id="declined-comment">
  <textarea id="declined_comment_body" class="comment_body"></textarea>
</div>
<div id='pseudo-uniq-dialog'>
  <div id='pseudo-uniq-dialog-content'>
  </div>
</div>
