<% if @user.errors.any? %>
    <div id="error_explanation">
        <% @user.errors.full_messages.each do |msg| %>
          <div>
            <span><%= msg %></span>
          </div>
        <% end %>
    </div>
<% end %>
