<nav class="navbar navbar-inverse nav-down" id='navbar-submenu' role="navigation">
 <div class="container-fluid">
    <div class="collapse navbar-collapse" id='tables-sub-menu'>
      <%= yield(:left_sub_menu) %>
      <ul id='tables-sub-menu-nav' class="nav navbar-nav navbar-right">
        <%= generate_right_sub_sub_menu %>
      </ul>
    </div>
  </div>
</nav>