<nav class="navbar navbar-inverse nav-down" id='navbar-submenu' permission="navigation">
 <div class="container-fluid">
    <div class="collapse navbar-collapse" id='tables-sub-menu'>
      <%= yield(:sub_menu) %>
    </div>
  </div>
</nav>