<div class="row content">
  <div class="col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2" id="report"> 
    
    <div id="modal_project">
    </div>
    <div class="btn-group" id="project-btn-group">
      <button class="add-new btn btn-sm btn-info" id="add"> 
      <i class="glyphicon glyphicon-plus"></i> Add new</button>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active">
        <table class="table">
          <thead>
            <tr>
              <th> Name </th>
              <th>  </th> 
              <th>  </th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project|%>
              <tr class="project" id='<%= project.id %>'>
                <td> <%= link_to "#{project.name}", "#" %>
                </td>
                <td class="text-center"> <%= image_tag('edit.png', class: 'edit') %> </td>
                <td class="text-center"> <%= link_to(image_tag('remove.png'), project_path(project), method: :delete) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>