
.content{
  height: 100%;
}

.admin-content {
  height: calc(100% - 100px); 
}

.admin-content .col-lg-2,
.admin-content .col-md-2,
.admin-content .col-sm-2,
.admin-content .col-lg-10,
.admin-content .col-md-10,
.admin-content .col-sm-10 {
  padding: 0;
}


.admin-sub-menu {
  background-color: #282D37;
  height: 120px;
  margin-top: -20px;
  margin-bottom: 1px;
  padding: 15px;
} 
  .admin-sub-menu-items_list{
    text-align: center;
  }
    .admin-sub-menu-items_list li{
        width: 90px;
        height: 90px;
        background-color: #BEBFC0;
        list-style: none;
        position: relative;
        display: inline-block;
        border-radius: 5px;
        margin-left: 10px;
    }

    .admin-sub-menu-items_list li a{
      width: 90px;
      height: 90px;
      display: inline-block;
      background: #bebfc0;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      text-decoration: none;
      color: #222;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    }

    .admin-sub-menu-items_list li a:hover{
      background-color: rgba(111, 118, 131, 1);
      cursor: pointer;
    }

    .admin-sub-menu-items_list li a i {
      height: 32px;
      width: 32px;
      display: inline-block;
      line-height: 32px;
      font-size: 30px;
      margin-top: 16px;
    }

    .admin-sub-menu-items_list li a span {
      display: block;
      margin-top: 5px;
    }

.admin-room-content-left-column{
  background-color: #CCCCCC;
  height: 100%;
}
.admin-room-content-right-column{
  background-color: #fff;
  height: 100%;
}

#active-users-all {
  margin-top: 50px !important;
}