/* COMMON */

* {
  margin:0;
}

html, body {
  font-size: 12pt;
  height: 100%;
}

#footer{
  height: 50px;
  position: inherit;
}

body > #wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
  padding-top: 70px;
}

#header nav {
  background-color:  #6F7683;
}

a.dropdown-toggle {
  color: rgba(255,255,255, 0.8) !important;
}

a.navbar-brand {
  color: rgba(255,255,255, 0.8) !important;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
  background-color: #5B626F !important;
}


/* HEADER */

.avatar-small {
  width: 36px;
  height: 36px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-left: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

/* LOG IN */

.log-in {
  margin-right: auto;
  margin-left: auto;
}

/* TASK TABLE */

.controll-panel {
  display: block;
}

.tasks-sub-menu {
  display: flex;
}

.sort:hover {
  cursor: pointer;
}

.tasks-sub-menu {
  position: absolute;
}

/* must be removed */
.table>tbody>tr>.remove {  
  vertical-align: middle;
}

.table>tbody>tr>.controlls {  
  vertical-align: middle;
}

.messages div:not(:last-child){
  display: none;
}

.comment_list {
  max-height: 250px;
  overflow-y: auto;
  background-color: rgba(217, 237, 247, 0.2);
  padding: 10px 10px 10px 10px;
  border: 1px solid #DDDDDD;
}

td .comment_list div:not(:first-child){
  display: none;
}

.comment_list div{
  display: block;
}

td .comment_list{
  background-color: rgba(217, 237, 247, 0);
  padding: 0;
  border: 0;
  max-height: 58px;
  overflow-y: hidden;
}


.comment-foto {
  width: 36px;
  height: 36px;
  margin-top: 3px;
  margin-right: 3px;
}

.comment {
  padding: 3px;
  font-size: 10pt;
  line-height:  14px;
  padding-left: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  width:100%;
  margin-bottom: 5px;
  background-color: #fff;
}

.comment p {
  /*margin-top: 6px;*/
  margin-bottom: 2px;
}

.comment a {
  margin-top: 3px;
  margin-right: 5px;
  display: inline-block;
}

td .comment {
  margin-bottom: 0;
  border: 0;
  background-color: rgba(0,0,0,0);
  width: 100%;
}

td .comment:last-child{
  margin-left: 0%;
  margin-right: 0%;
}

.comment_body {
  margin-top: 15px;
  width: 255px;
  max-width: 260px;
}

.comment_time {
  font-size: 8pt;
}

.message_list {
  font-size: 10pt; 
}

td .message {
  background-color: rgba(0,0,0,0);
  border: 0;
  margin: 0;
  padding: 0;
}

.message {
  background-color: rgba(217, 237, 247, 0.5);
  border: 1px solid #DDD;
  margin-bottom: 3px;
  padding: 5px;
  padding-bottom: 0;
}

#task-table td:hover:not(.status):not(.user_name):not(.remove):not(.number):not(.source){
  background-color: #FAEDAB;
}

.active-td {
  background-color:  #FAEDAB !important;
}

.remove {
  text-align: center;
}

#link-inp {
  width: 100%;
}

#text-editor {
  width: 255px;
  max-width: 255px;
  min-height: 80px;
}

td .link_list {
  /*background-color: rgba(0,0,0,0);*/
  margin-bottom: 0;
  padding: 0;
}

.link_list {
  /*background-color: red; */
  margin-bottom: 20px;
  padding: 5px 5px 2px 5px;
}

td .link {
  background-color: rgba(0,0,0,0);
  margin: 0;
  padding: 0;
  border: none;
}

td .link .remove-link {
  display: none;
}

.link .remove-link {
  display: inline-block;
}

.link {
  padding: 2px;
  background-color: rgba(248, 252, 254, 0.99);
  margin-bottom: 4px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

/* FOOTER */

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #6F7683;
  margin-top: -50px;
}

/* FORMS */

.form-ledge {
  background-color: #F7F7F7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 40px;
  margin-bottom: 30px;
}

/* COMMON HELPERS */

.text-center {
  text-align: center;
}

.control-field {
  margin-bottom: 10px;
}

.deadlock {
  min-width: 300px;
}

.error {
  color: rgba(255, 0, 0, 0.64);
  margin-bottom: 10px;
}

.foter-info {
  margin-top: 15px;
}

.foter-info p {
  color: rgba(255,255,255, 0.8);
}

/* NOTICE */
.notifier {
  right: 15px;
  top: -15px;
  border-radius: 3px;
  display: none;
  position: absolute;
}

.table-notifier {
    top: 190px;
    left: 10px;
    right: 600px;
    /*text-align: right;*/
}

.notifier-init {
  padding: 6px;
  margin-bottom: 10px;
  height: 50px;
  border: 3px solid #D9EDF7;
}

.notice-mess {
  vertical-align: middle;
  display: inline-block;
}

.helper {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

.notice-error {
  background-color: #F2DEDE;
}

.notice-success {
  background-color: #dff0d8!important;
}
.datestatistic{
  margin-bottom: 20px;
}
.date-inform {
  width: 90px; 
  margin: 5px;
}
.statistics{
  width: 30%;
  margin-left: 3%;
  float: left;
}
.graphics{
  width: 67%;
  float: right;
}

.no-close .ui-dialog-titlebar {
  display: none;
}

#container{
  width: auto;
  padding: 0;
}
#col-md-5{
  padding: 0;
  width: 50%;
}
#datetimepicker6{
  width: auto;
  padding-right: 4px;
}
#datetimepicker7{
  width: auto;
  padding-left: 4px;
}
#_meeting_start_time{
  font-size: 13px;
}
#_meeting_end_time{
  font-size: 13px;
}
#meeting_dialog{
  margin: 20px;  
}
.chosen-container{
  width: 100% !important;
  display: block;
  font-size: 13px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  float: left;
  padding-right: 4px;
  height: 34px;
}
#source_chosen{
  width: 100% !important;
  display: block;
  font-size: 13px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  float: left;
  padding-right: 4px;
  height: 34px;
}

#status_chosen{
  width: 100% !important;
  display: block;
  font-size: 13px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  float: left;
  padding-right: 4px;
  height: 34px;
}


.chosen-container-multi .chosen-choices {
  display: block;
  font-size: 13px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px  #CCC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  float: left;
  padding-right: 4px;

}

#chosen:focus {
  border-color: #66AFE9;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

#myModalLabel{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #9F9999;
  text-align: center;
}

/* EXPORT PAGE */

.export-radio-group {
  margin-top: 20px;
  margin-left: 10px;
}

.export-radio-group label {
  margin-right: 10px;
}

/* HELPERS */

.clear {
  clear: both;
}

.inline {
  display: inline-block;
}

.circleBase {
  border-radius: 50%;
}

body > #wrapper>.room>.content-column {
    border-left: 1px solid #DDD; 
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;

    position: relative;
    min-height: 100%;

    background-color: #FCFCFC;
}

/* ALL USERS */

.table>tbody>tr>td.control-field {
  width: 20px;
  border: 0;
}

.table>tbody>tr.danger>td.control-field{
  background-color: rgba(0,0,0,0);
}

.lock {
  width: 16px;
  height: 16px;
  background: asset-data-url('lock-icon.png');
}

.unlock {
  width: 16px;
  height: 16px;
  background: asset-data-url('unlock-icon.png');
}

  .lock:hover, .unlock:hover {
    cursor: pointer;
  } 

/* PRIVATE ROOM */

.file-load {
  visibility: hidden;
  display: none;
  position: absolute;
}

.room {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.user-info{
  height: 250px;
  background-color: rgba(161, 81, 81, 0.52);
  padding-top: 30px;
  padding-left: 50px;
  color: #FCFCFC;
}
    .avatar {
      width: 128px;
      height: 128px;
      position: absolute; 
    }
    .avatar img {
      width: 100%;
      height: 100%;
    }
    .user-info-list {
      list-style: none;
      font-size: 16pt;
      position: absolute;
      margin-left: 100px;
    }
        ul.user-info-list>li:first-child {
          font-size: 22pt;
          padding-bottom: 10px;       
        }
        ul.user-info-list>li:last-child {
          color: #306161;
          padding-top: 10px;     
        }
    .circle-activity {
      width: 100px;
      height: 100px;
      background: none;
      border: 8px solid #306161;
      margin-right: 50px;
      float: right;
      padding-top: 15px;
      text-align: center;
    }
    .circle-activity span:first-child {
      font-size: 26pt;
      padding-left: 8px;
      padding-right: 10px;
      line-height: 26pt;
    }    
    .circle-activity span:last-child {
      line-height: 12pt;
    }

    .user-room-tabs {
      position: absolute;
      top: 199px;
      right: 40px;
      font-size: 16pt;
      border: 0;
    }
    .user-room-tabs a {
      color: #306161;
    }

    .nav-tabs>li>a:hover{
      border-color: #FCFCFC;
      background-color: #FCFCFC;
    }

.tab-pane {
  margin-top: 50px;
}
    
    .errors-td {
      width: 230px;
    }

    .second-form .errors-td {
      width: 300px;
    }

    .upload-avatar {
      width: 128px;
      height: 128px;
      position: relative;
      margin-left: 50px;
    }
    .upload-avatar img {
      width: 100%;
      height: 100%;
    }   

    .first-td {
      width: 30%;
      height: 200px;
    }

    .second-td input {
      margin-top: 10px;
      width: 350px;
    }

    .second-td label {
      margin-top: 15px;
      width: 100px;
      float: left;
    }    

    .second-form .first-td {
      width: 50px;
      height: 150px;
    }

    .second-form .second-td label {
      margin-top: 15px;
      width: 250px;
      float: left;
    }

    .btn-block {
      border-radius: 0;
    }

    .form-info {
      margin-left: 50px;
    }

    .table-success {
        border: 8px solid rgba(0, 128, 0, 0.43);
        border-radius: 20px;
        background-color: rgba(0,255,0,0.1);
    }

    .table-error {
        border: 8px solid rgba(128, 0, 0, 0.43);
        border-radius: 20px;
        background-color: rgba(255,0,0,0.1);
    }
#meeting-email{
  width: 50%;
  padding-left: 4px;
  float: right;
}
#chosen{
  width: 50%;
  padding-right: 4px;
}

.table-status{
  width: 50%
}

/* TASK CONTROLS */

.edit:hover {
  cursor: pointer;
}

#edit-input{
  width: 100%;
}

#plan{
  margin-left: 10%;
  width: 80%;
}

.text_form_for_mail{
  margin-top: 5%;
  height: 100%;
  width: 50%;
  margin-left: 25%;
}

.text_area_for_mail{
  width: 100%;
  height: 250px;
}

.meeting_title{
  text-align: center;
}

/* CSS FOR USEFUL THINGS */

.inline-block {
  display: inline-block;
}
