/* COMMON */

* {
  margin:0;
  padding:0;
}

html, body, #wrapper {
  height: 100%;
  font-size: 12pt;
}

body > #wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
  height: auto !important;
}

/* TASK TABLE */

option {
  color: #333;
  background-color: #fff;
  font-size: 10pt;
}

.table>tbody>tr>.remove {  
  vertical-align: middle;
}

.comments div:not(:last-child){
  display: none;
}

.comment_list {
  max-height: 250px;
  overflow-y: auto;
  background-color: rgba(217, 237, 247, 0.2);
  padding: 10px 10px 10px 10px;
  border: 1px solid #DDDDDD;
}

td .comment_list{
  background-color: rgba(217, 237, 247, 0);
  padding: 0;
  border: 0;
  height: auto;
}

.comment {
  font-size: 10pt;
  padding-left: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  width:80%;
  margin-bottom: 5px;
  background-color: #fff;
}

.comment p {
  margin: 0;
}

.comment a {
  margin-top: 3px;
  margin-right: 5px;
  display: inline-block;
}

td .comment {
  margin-bottom: 0;
  border: 0;
  background-color: rgba(0,0,0,0);
  width: 100%;
}

td .comment a {
  display: none;
}

td .comment:last-child{
  margin-left: 0%;
  margin-right: 0%;
}
.comment:nth-child(even){
  margin-left: 20%;
}

.comment_body {
  margin-top: 15px;
  width: 260px;
}

.comment_time {
  font-size: 8pt;
}

td:hover:not(.status):not(.user):not(.date):not(.message):not(.remove):not(.number){
  background-color: #FAEDAB;
}

.active_td {
  background-color:  #FAEDAB;
}

.remove {
  text-align: center;
}

/* FOOTER */

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: #F5F5F5;
  margin-top: -70px;
}

/* FORMS */

.form-ledge {
  background-color: #F7F7F7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 40px;
  margin-bottom: 30px;
}

/* COMMON HELPERS */

.text-center {
  text-align: center;
}

.control-field {
  margin-bottom: 10px;
}

.deadlock {
  min-width: 300px;
}

.error {
  color: rgba(255, 0, 0, 0.64);
  margin-bottom: 10px;
}

.foter-info {
  margin-top: 25px;
}