#assign-fields {
  border: 1px solid #ddd;
  width: 100%;
  min-height: 20px;
  padding: 5px;
}

#assign-fields li, #not_assign-fields li {
  border: 1px solid gray;
  list-style: none;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 5px;
}

#assign-fields li {
  background-color: #5cb85c;
}

#not_assign-fields li {
  background-color: #d9534f;
}

#assign-fields li:hover, #not_assign-fields li:hover{
  cursor: pointer;
}

#assign-fields li:active, #not_assign-fields li:active{
  cursor: move;
}

#not_assign-fields {
  border: 1px solid #ddd;
  width: 100%;
  min-height: 20px;
  padding: 5px;
}

#assign {
  float: right;
  width: 40%;
}

#not_assign {
  width: 40%;
}

#filterinput{
 width: 40%;
 margin-top: 3%;
}
