.refresh-dt-data {
  position: absolute;
  right: 225px;
}

.select-year-and-month{
  position: absolute;
}

.select-year-and-month select{
  height: 28px;
  border: 1px solid #357ebd;
  background-color: #428bca;
  border-radius: 4px;
  padding-left: 5px;
  color: #fff;
}