<div id = "sale">
  <%= form_tag plan_path(type: 'SALE', id: @plan.id), method: :put do %>
    <%= render partial: "table_for_sale" %>
    <%= submit_tag  "Create", class: "brn btn-primary pull-right" %>
  <% end %> <!--/form_tag -->
</div>