<div class="row">
	<div class="col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">

		<!-- Tab panes -->
		<div class="tab-content">
			<%if @type == @sale %>
				<%= render partial: "new_sale_plan" %>
			<% else %>
				<%= render partial: "new_candidate_plan" %>
			<% end %>
		</div>	
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var checkin = $('#dpd1').datepicker( {dateFormat: 'dd-mm-yy'});
		var checkout = $('#dpd2').datepicker({ dateFormat: 'dd-mm-yy'});
	});
</script>>