<!-- ======================= USAGE ======================== -->
<!-- $(slector).notification(title, $body, action)          -->
<!-- then after action with selector will run notification  -->
<!-- ======================= USAGE ======================== -->

<%= content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'modals/notification' %>
<% end %>

<div id='notification' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
