<footer class="navbar-fixed-bottom" id="footer">
  <div class="container-fluid text-center">
  	<div class='foter-info'>
    	<p class="text-muted">CRM © <%= Date.today.year %> All rights reserved</p>
  	</div>
  </div>
</footer>